/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 Verdana, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: inherit;
/*    line-height: 1.5;*/
    background-color: #202020;
    color: #ffffff;
}

#game-area {
    background-color: #808080;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

#registerButton {
    display: block;
    padding: 0.2em 0.5em;
    margin-top: 0.5em;
    border-radius: 0.1em;
    border: none;
}

/*#options-area {
    display: flex;
    flex-wrap: wrap;
}

    #options-area > button {
        flex: 50%;*/ /* or - flex: 0 50% - or - flex-basis: 50% - */
        /*demo*/
        /*box-shadow: 0 0 0 1px black;*/
/*        margin: 1em 1em;*/
        /*background-color: white;
        color: black;
        display: block;
        padding: 0.2em 0.5em;
        border-radius: 1em;
        border: none;
    }*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}